
#universal{
    background-color: rgb(237,237,237);
}
.shade{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    padding: 20px;
    margin: 10px;
}
#container{
    display: flex;
    width: 90%;
    margin: auto;
}
.flex{
    display:flex;
    margin-bottom: 10px;
}
.input{
    margin-right: 20px;
}
#form{
    display: block;
}
.border{
    border: 1px solid #c7c7c7;
    padding: 5px;
    border-radius: 3px;
    color: #616161;
}

h2,p{
    font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;
}
h4{
    font-size: 1.17647059em;
    font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;
}
p,#fname,#lname{
    color: rgb(97,97,97);
    font-size: .7647058823529411em;
    margin-bottom: 0.69230769em;
    font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;
}
#green{
    color: green;
    display: flex;
}
#payment_form{
    display: block;
}
#expiration{
    margin-bottom: 20px;
}
#btn{
    display: inline-block;
    position: relative;
    margin: 0.70588235em 0.70588235em 0 0;
    border: 1px solid transparent;
    border-width: 1px 1px 2px;
    border-radius: 0.23529412em;
    padding: 0;
    font-size: 1em;
    line-height: 1.45;
    font-weight: 700;
    cursor: pointer;

    border-color: #d4a900 #aa8700 #aa8700;
    background: #FFBD24;
    background: linear-gradient(to top,#FFBD24 0,#FFC94C 100%);
    color: #3d3100;

    width: 40%;

    font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;

    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}
#recom{
    width: 12px;
    font-size: medium;
    color: white;
    background-color: green;
    padding: 1px;
    border-radius: 3px;
}
.font{
    font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;
    font-size: small;
}

#right{
    width: 80%;
}
#right_one > img{
    width: 100%;
}
